<div class="create-poll-form-position">
	<div class="row">
		<%= form_tag polls_path, remote: true, method: :post, id: 'create-poll-form' do %>
			<div class="input-group">
				<div class="row">
					<%= text_field_tag :poll_title_param, params[:poll_title_param], 
										placeholder: 'Title of poll',
										autofocus: true,
										class: 'form-control'%>
				</div>
				<div class="row">
					<%= text_field_tag "answer_title_param[]", params[:answer_title_param], class: 'form-control' %>
				</div>
				<div class="row">
					<%= text_field_tag "answer_title_param[]", params[:answer_title_param], class: 'form-control' %>	
				</div>
				<div class="row">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Create Poll</button>
				</span>
				</div>
			</div>
		<% end %>
	</div>
</div>