<div class="row">
	<div class="create-poll-form-position">
		<div class="col-xs-12">
			<%= form_for(@poll, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
				<div class="form-group">	
					<div class="control-label col-xs-2">
						<%= f.label :title %><br>
					</div>
					<div class="col-xs-8">    
					    <%= f.text_field :title, class: 'form-control', placeholder: 'Title of poll', autofocus: true %>
			    	</div>
			    </div>
			    
			    <div class='form-group'>
			    	<div class="col-sm-offset-2 col-sm-10">
			    		<%= f.submit class: 'btn btn-primary btn-md'%>
			    	</div>
			    </div>
			    
			<% end %>
			
		</div>
	</div>
</div>
