<div class="polls-list">
	<% @polls.each do |poll| %>
		<%= link_to poll_path(poll) do %>
			<div class="each-poll">
				<h2 class="text-center"><%= poll.title %></h2>
			</div>
		<% end %>
	<% end %>
</div>