body {
	background-color: #428bca;
}

.logout {
	float: right;
}

.logo {
	color: #fff;
}

.devise-instructions {
	color: #fff;
}

.custom-devise-form {
	width: 600px;
}

.divise-signin-form-position {
	margin-top: 100px;
	margin-left: 270px;
}

.divise-sigup-form-position {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

/*.row {
	border: solid 1px red;
}

[class^="col"] {
	border: solid 1px blue;
}*/

/*.container {
	border: solid 2px black;
}*/