body {
	background-color: #428bca;
}

.logout {
	float: right;
	margin-top: 20px;
}

.logo {
	color: #fff;
}

.logo:hover {
	color: #fff;
	text-decoration: none;
}

.devise-instructions {
	color: #fff;
}

.custom-devise-form {
	width: 600px;
}

.divise-signin-form-position {
	margin-top: 100px;
	margin-left: 270px;
}

.divise-sigup-form-position {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#nav-margin {
	margin-bottom: 100px;
}

.polls-list {
	margin: 0px 30px;
}

.each-poll {
	background-color: #fff;
	padding: 1px 10px 8px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.each-poll:hover {
	border-left: solid 8px rgb(217, 83, 79);
    border-radius: 5px;
    margin-left: -8px;
    background-color: rgba(255,255,255,0.9);
}

div.polls-list a:hover {
	text-decoration: none;
}

div.polls-list a {
	color: rgba(0, 0, 0, 0.70);
}

.btn-add-poll {
    float: right;
    margin-top: 20px;
}

.show-poll {
	margin: 0px 30px;
	background-color: #fff;
	padding: 1px 10px 8px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.70);
}

.create-poll {
	margin: 0px 30px;
	background-color: #fff;
	padding: 1px 30px 8px 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.70);
}

#poll-title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 3px;
}

.btn-vote {
	float: right;
    margin-right: 15px;
    width: 80px;
}

.btn-create-poll {
	float: right;
}

.answers-group {
	margin-top: 10px;
}

.answer-field {
	margin-bottom: 10px;
}

.create-poll-form-title {
	border: 0px;
	width: 850px;
	outline: none;
}

.answer-style {
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 5px;
    font-size: large;
}

/*.row {
	border: solid 1px red;
}

[class^="col"] {
	border: solid 1px blue;
}*/

/*.container {
	border: solid 2px black;
}*/